@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* Container for the download button */
.download-container {
  font-family: "Inter", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the button horizontally */
  align-items: center; /* Center the button vertically */
  height: 100vh; /* Full viewport height */
  background-color: #0a0a0a; /* Light background color */
  color: white;
  top: -60px;
}

.download-container h1 {
  font-size: 24px;
  text-align: center;
}

.download-container p {
  font-size: 20px;
  text-indent: 50px;
  width: 75%;
}

.download-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  z-index: 100;
}

.download-icons a {
  color: white; /* Default color of the icon */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-icons a:hover {
  color: #fff; /* Ensure icon color remains white on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.download-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.download-info h3 {
  font-size: 12px;
  font-weight: normal;
}

.download-info p {
  font-size: 16px;
  font-weight: normal;
}

.contact-overlay-coffee {
  position: absolute;
  top: -20px; /* Move the div 50% down from the top */
  right: 0; /* Move the div 50% right from the left */
  width: auto;
  height: 75%;
  z-index: 0;
  filter: brightness(0.5);
  opacity: 0.2;
}

.flipped-contact-overlay-coffee {
  position: absolute;
  top: -20px; /* Move the div 50% down from the top */
  left: 0; /* Move the div 50% right from the left */
  width: auto;
  height: 75%;
  z-index: 0;
  filter: brightness(0.5);
  opacity: 0.2;
  transform: scaleX(-1);
}

@media (max-width: 1000px) {
  .contact-overlay-coffee {
    height: 50%;
  }

  .flipped-contact-overlay-coffee {
    height: 50%;
  }
}

@media (max-width: 540px) {
  .contact-overlay-coffee {
    height: 75%;
  }

  .flipped-contact-overlay-coffee {
    visibility: hidden;
  }
}
